body {
  padding-top: 5rem;
}

.main {

    margin-left: -300px;
    font-size: 19px;
}

.resumo {
    margin-left: -300px;
    margin-top:30px;
    font-size:19px;
}

h1, h2 {
    margin-top:20px;
    margin-bottom:30px;
}

p {
    font-size:18px;
}


